html, body {
  font-family: Ubuntu;
  touch-action: none;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: fit-content;
}
.global { height: 100%; display:grid; text-align:center; }

.withButtons { grid-template: min-content auto min-content / 1fr; }
.wb-Head {
  box-shadow: 0px 5px 5px #4443;
  background: #FFF;
  color: #238cd1;
  font-size: 3vh;
  display: grid;
  align-content: center;
}
.wb-Main   { /*grid-area: 2/1/3/2;*/ margin: 5vh 5vw 0 5vw; }
.wb-Footer { /*grid-area: 3/1/4/2;*/ margin: 0 5vw 3vh 5vw; text-align-last:justify; }

#intro, #profile { color: #FFF; font-size: 5vw; }
#intro       { grid-template: 60% 40% / 1fr; background: radial-gradient(circle at top,  #76cedd 0%, #03a7c2 44%, #999 44%, #FFF 46%, #CCC 100%);  }
#intro > div:first-child { margin-top: 8vh; }

#profile     { background: radial-gradient(circle at bottom right,  #76cedd 0%, #03a7c2 100%); }
#profile .label   { color: #FFF; }
#profile .control { text-align:center; }

#sense { grid-template: 6vh auto 6vh min-content / 1fr; }
#sense-title { grid-template: 1fr / 15% 70% 15%; align-self:center; }
#sense-title > div:first-child { grid-column: 1/2; }
#sense-title > div:last-child { grid-column: 3/4; }

.sBackground { background: linear-gradient( #FFF, #FFF, #DDD ); height:100%; z-index:-1; }
.sMain { grid-area:2/1/3/2; text-align: center; align-self: center; }

.sWeight {
  font-weight: bold;
  font-size: 30vw;
  color: #363637;
}
.sWeight div {
  font-weight: bold;
  font-size: 5vh;
}

.sGoal { grid-area:3/1/4/2;
         color: #FFF;
         background: #292525;
         font-size: 3vh;
         height: 6vh;
}
.sResults {
  grid-area:4/1/5/2;
  background: #FFF;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  text-align: center;
  /*border: 1px #777;*/
}

.sResults div {
  border: 1px solid #DDD;
  background-color: #FFF8;
}

.loadAni { display: inline-flex; flex-direction: row; }
.loadAni div { height: 20vh; width: 3vw; background: #FE4A49; margin: 2vw; border-radius: 15px; }
.loadAni div:nth-child(1) { animation: lAni 1s ease-in-out infinite 0s; }
.loadAni div:nth-child(2) { animation: lAni 1s ease-in-out infinite 0.1s; }
.loadAni div:nth-child(3) { animation: lAni 1s ease-in-out infinite 0.2s; }
.loadAni div:nth-child(4) { animation: lAni 1s ease-in-out infinite 0.3s; }
.loadAni div:nth-child(5) { animation: lAni 1s ease-in-out infinite 0.4s; }
.loadAni div:nth-child(6) { animation: lAni 1s ease-in-out infinite 0.5s; }
.loadAni div:nth-child(7) { animation: lAni 1s ease-in-out infinite 0.6s; }
.loadAni div:nth-child(8) { animation: lAni 1s ease-in-out infinite 0.7s; }

@keyframes lAni {
  0% { transform: scaleY(0.5); background: #FED766; }
 25% { background: #009FB7; }
 50% { transform: scaleY(2); background: #59CD90; }
 75% { background: #FE4A49; }
100% { transform: scaleY(0.5); background: #D91E36; }
}
